$pointer-xxxxs: var(--xxxxs);
$pointer-xxxs: var(--xxxs);
$pointer-xxs: var(--xxs);
$pointer-xs: var(--xs);
$pointer-sm: var(--sm);
$pointer-md: var(--md);
$pointer-lg: var(--lg);
$pointer-xlg: var(--xlg);
$pointer-xxlg: var(--xxlg);
$pointer-xxxlg: var(--xxxlg);

$border-radius-common: var(--border-radius-common);
$border-radius-section: var(--border-radius-section);

// Shadow/Elevation variables
$elevation-100: 0px 8px 64px 0px rgba(15, 34, 67, 0.06), 0px 0px 1px 0px rgba(15, 34, 67, 0.08);
$border-subtle: #f2f5f7;
