.tooltip,
.tooltip_warning {
  background-color: $white-100 !important;
  border-radius: 5px;
  border: 1px solid #e0e0e0;
  max-width: 230px;
  max-height: 120px;
  overflow-y: auto;
  padding: 16px;
  @include typography('xs');
  line-height: 20px;
  color: #313131 !important;
  box-shadow: 2px 4px 8px 0px rgba(0, 0, 0, 0.1);
}

.tooltip_warning {
  background-color: #ffeed3;
  border: 1px solid #ffd085;

  span {
    color: $text-color-primary;
    @include typography('xs');
    line-height: 20px;
  }
}
