.container {
  width: 45%;
  height: max-content;
  padding: 40px;
  border-radius: 8px;
  background-color: $carter-grey-100;

  .body {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 48px;

    .header {
      display: flex;
      flex-direction: column;
      gap: 8px;
    }

    .form_field {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 16px;
    }

    .notice_field {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 6px;
    }

    .formFooter {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 24px;
      text-decoration: underline;
      color: $carter-links-blue;
    }

    .submit_button {
      margin-top: 16px;
      width: 100%;
    }
  }
}

@include mobile {
  .container {
    width: 100%;
  }
}
