.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background-color: $white-100;

  .formField {
    display: flex;
    flex-direction: column;
    gap: 8px;

    .passwordLabel {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    .eye_icon {
      color: $grey-1200;
      &:hover {
        cursor: pointer;
      }
    }

    &:nth-of-type(1) {
      margin-top: 3px;
      margin-bottom: 20px;
    }
  }
  .submit_button {
    margin-top: 28px;
    p {
      color: $white-100;
      @include typography('md', 'medium');
    }
  }

  .auth_form {
    padding: 56px 50px;
  }
}
