.container {
  border-radius: 8px;
  background: $grey-100;
  padding: 40px;
  width: 30%;

  .title_container {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 4px;

    .action_button {
      width: 100%;
    }
  }

  .completed_container {
    display: flex;
    flex-direction: column;

    .completed_image {
      align-self: center;
      margin: 48px;
    }

    .completed_button {
      width: 100%;
    }
  }

  form {
    display: flex;
    flex-direction: column;

    .form_field {
      display: flex;
      flex-direction: column;
      gap: 12px;
      margin-top: 30px;
      .form_label {
        color: $text-color-dark;
        @include typography('xs');
      }

      .input_error {
        border: 1px solid $red-400;
      }

      .password_strength {
        list-style-type: none;
        li {
          @include typography('xxs');
          color: $text-color-password-strength;
          line-height: 20px;
          padding-left: 15px;
          position: relative;
          &::before {
            content: url('../../../assets/images/round-circle.svg');
            position: absolute;
            left: 0;
            padding-top: 2px;
          }
          &[data-complete='false'] {
            color: $red-400;
            &::before {
              content: url('../../../assets/images/red-cross.svg');
              padding-top: 2px;
            }
          }
          &[data-complete='true'] {
            color: $green-500;
            &::before {
              content: url('../../../assets/images/round-green-check.svg');
              padding-top: 2px;
            }
          }
        }
      }
    }

    .submit_button {
      margin-top: 30px;
      width: 100%;
    }
    .redirect_button {
      margin-top: 24px;
      text-align: center;
    }
  }

  .formFooter {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 48px;
    gap: 24px;
    text-decoration: underline;
    color: $carter-links-blue;
  }

  @include mobile {
    max-width: 100dvw;
    margin: 0 24px;
    padding: 24px;
  }
}

@include mobile {
  .container {
    width: 90%;
  }
}
