@import '@/styles/_variables.scss';

.stepper {
  padding: 0;
  background-color: transparent;
  border: none;
  width: 100%;
  height: 100%;
  border-radius: 0;
  display: flex;
  flex-direction: column;
  box-shadow: none;

  .stepperTitle {
    font-size: 18px;
    font-weight: 600;
    color: #111827;
    margin: 0 0 24px 0;
    padding-bottom: 16px;
    border-bottom: 1px solid #e5e7eb;
  }

  .step_container {
    display: flex;
    flex-direction: column;

    &:last-child {
      margin-bottom: 0;
    }

    .step_item {
      display: flex;
      align-items: flex-start;
      gap: 12px;
      margin-bottom: 16px;

      .stepContent {
        flex: 1;

        .stepTitle {
          line-height: 1.5;
          transition: color 0.2s ease;

          &.completed {
            color: $carter-grey-800;
          }

          &.current {
            color: $carter-brand-600;
          }

          &.pending {
            color: $carter-text-500;
          }
        }
      }
    }

    .subSteps_container {
      display: flex;
      flex-direction: column;
      gap: 12px;

      .subStep_item {
        display: flex;
        align-items: flex-start;
        gap: 12px;
        padding: 6.5px 16px;
        border-radius: 6px;
        height: 28px;
        &:last-child {
          margin-bottom: 0;

          .subStep_indicator .subStepConnector {
            display: none;
          }
        }

        &:hover {
          background-color: $carter-brand-100;
          cursor: pointer;
        }

        .subStep_indicator {
          display: flex;
          flex-direction: column;
          align-items: center;
          position: relative;

          .subStep_circle {
            width: 12px;
            height: 12px;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
            z-index: 2;
          }

          .subStepConnector {
            width: 1px;
            height: 20px;
            background-color: $carter-grey-300;
            margin-top: 4px;
            position: relative;
            z-index: 1;
            border-radius: 1px;
            &[data-status='completed'] {
              background-color: $carter-green-500;
            }

            &[data-status='validated'] {
              background-color: $carter-green-500;
            }

            &[data-status='current'] {
              background-color: $carter-brand-100;
            }
          }
        }

        .subStepContent {
          flex: 1;
          margin-top: -4px; // Align text with circle center
          display: flex;
          align-items: center;
          gap: 4px;

          .subStepTitle {
            line-height: 1.5;
            transition: color 0.2s ease;

            &.completed {
              color: $carter-grey-700;
            }

            &.current {
              color: $brand-600;
              font-weight: 500;
            }

            &.pending {
              color: $carter-text-500;
            }
          }
        }
      }
    }
  }

  .step_separator {
    margin: 12px 0;
    height: 1px;
    background-color: $carter-grey-200;
  }

  // Optional: Add hover states for better UX
  @media (hover: hover) {
    .step_item:hover .stepTitle {
      &.completed {
        color: $carter-grey-900;
      }

      &.pending {
        color: $carter-text-600;
      }
    }

    .subStep_item:hover .subStepTitle {
      &.completed {
        color: $carter-grey-800;
      }

      &.pending {
        color: $carter-text-600;
      }
    }
  }
}

.step_icon_completed {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: $carter-green-700;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sub_step_icon {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  position: relative;
  background-color: $white-100;

  &[data-status='disabled'] {
    border: 1.5px solid $carter-grey-600;
  }
  &[data-status='completed'],
  &[data-status='validated'] {
    border: 1.5px solid $carter-green-700;
  }
  &[data-status='current'] {
    border: 1.5px solid $carter-brand-600;
  }
  &[data-status='default'] {
    border: 1px solid $carter-text-400;
  }

  .sub_circle {
    width: 4px;
    height: 4px;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    &[data-status='disabled'] {
      background-color: $carter-grey-700;
    }
    &[data-status='completed'],
    &[data-status='validated'] {
      background-color: $carter-green-700;
    }
  }
}
