@mixin card {
  padding: 24px;
  background-color: $white-100;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.container {
  display: flex;
  flex-direction: column;
  border-top: 1px solid $grey-300;
  gap: 16px;
  .network_container {
    @include card;
    .form_row {
      display: flex;
      justify-content: space-between;
      gap: 24px;
    }
    .timezone {
      display: flex;
      flex-direction: column;
      gap: 8px;
    }
  }
  .request_settings_container {
    @include card;
  }
  .section_header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }
  .note_box {
    padding: 8px;
    background-color: $carter-yellow-200;
    border-radius: 6px;
  }
  @media only screen and (max-width: 1024px) {
    .section_header {
      width: 100%;
    }
  }
  .selection {
    display: flex;
    gap: 24px;
    flex-wrap: wrap;
    .selection_right {
      flex: 1;
    }
    .accordion_wrapper {
      gap: 24px;
      display: flex;
      flex-direction: column;
      padding-bottom: 8px;
    }
    .selection_left {
      flex: 1;
    }
    .section_top {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-bottom: 16px;
    }
  }
}

.upload_box {
  border: 1px dashed $brand-600;
  border-radius: 10px;
  padding: 24px;
  text-align: center;
  cursor: pointer;
  justify-content: center;
  display: flex;
}

.hidden_input {
  display: none;
}
