.root_input {
  width: 100%;
  padding: 0 10px;
  margin: 0 10px;
  color: $white-100;
  height: 32px;
  border: 1.5px solid $carter-brand-700;
  border-radius: 5px;
  background-color: $carter-brand-700;
  .notched_outline {
    border: none;
  }
}
