.container {
  display: grid;
  grid-template-columns: 50% 50%;
  background-color: $white-100;
  border-radius: 6px;
  @include tablet {
    grid-template-columns: 1fr;
  }
  .graph_container {
    padding: 16px 12px;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 24px;
    .header_container {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    .legends_container {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 12px;
    }
  }
  .table_container {
    padding: 16px 12px;
    flex: 1;
  }

  @include mobile {
    .graph_container {
      .legends_container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
      }
    }
    .table_container {
      max-width: 100%;
    }
  }
}
