.container {
  background-color: $white-100;
  border-radius: 6px;
  padding: 16px 24px;
  display: flex;
  flex-direction: column;
  gap: 16px;

  .header_container {
    display: flex;
    justify-content: space-between;
  }

  .cards_container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    flex-wrap: wrap;
    gap: 8px;
  }

  .info_container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 16px;
    .legends_container {
      display: flex;
      align-items: center;
      gap: 24px;
    }
    @include mobile {
      justify-content: center;
    }
  }
}
